body {
	background-color:#000000;
	margin:0px;
}

#lyBoot {
	position:absolute;
	left:0px;
	top:0px;
	width:480px;
	height:272px;
	z-index:9;
	background-image:url(../images/boot_screen.jpg);
	background-repeat:no-repeat;
	background-position:center;
	vertical-align: middle;
	text-align:center;
	visibility: visible;
}

#loadingStatus {
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	top:217px;
	height:20px;
	width:263px;
	left:108px;
	position:absolute;
}

#lyLoadIcon1{
	position:absolute;
	width:32px;
	height:32px;
	top:183px;
	left:115px;
	background-image:url(../images/icons/loading/1-loadingsettings.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon2{
	position:absolute;
	width:32px;
	height:32px;
	top:184px;
	left:158px;
	background-image:url(../images/icons/loading/2-javascript.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon3{
	position:absolute;
	width:32px;
	height:32px;
	top:184px;
	left:201px;
	background-image:url(../images/icons/loading/3-appfunctions.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon4{
	position:absolute;
	width:32px;
	height:32px;
	top:183px;
	left:245px;
	background-image:url(../images/icons/loading/4-1ststagesettings.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon5{
	position:absolute;
	width:32px;
	height:32px;
	top:182px;
	left:288px;
	background-image:url(../images/icons/loading/5-gui.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon6{
	position:absolute;
	width:32px;
	height:32px;
	top:183px;
	left:331px;
	background-image:url(../images/icons/loading/6-portalfunctions.png);
	z-index:10;
	visibility: hidden;
}

#lyDesktop {
	width:480px;
	height:272px;
	background-image:url(../images/wallpapers/kde34.jpg);
}

#lyTaskbar {
	position:absolute;
	left:0px;
	top:248px;
	width:480px;
	height:24px;
	background-image: url(../images/taskbar_texture.gif);
	background-color:#000000;
	visibility: visible;
	vertical-align:middle;
}

.mainMenuCols{
	width:100%;
}

#mainMenuIcon {
	position:absolute;
	top:0px;
	left:0px;
	width:22px;
	height:22px;
	margin: 1px;
}

.subMenu {
	position:absolute;
	background-color:#CCCCCC;
	visibility: hidden;
	z-index:1;
}	

.subMenuCol {
	border-width: 1px 1px 1px 1px;
	border-style: outset outset outset outset;
	border-color: black black black black;
	background-color: white;
}

.subMenuColContainer{
	vertical-align:top;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #0000CC;
}

#menu {
	position:absolute;
	left:0px;
	top:90px;
	width:150px;
	height:158px;
	z-index:2;
	background-color: #FFFFFF;
	visibility: hidden;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
}

.subMenuRow {
	font-size:14px;
	height:20px;
}

.itemIcon {
	width:20px;
	height:20px;
}

.itemIconContainer {
	height:20px;
	margin-right:2px;
}

.itemTitleContainer {
	height:20px;
	vertical-align:middle;
}

.mainMenuIcon	{
	margin-right:2px;
	height:20px;
	width:20px;
}

.MainMenuHeader {
	height:18px;
	font-size:14px;
	color:#666666;
	background-color:#CCCCCC;
	font-weight:900;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #666666;
	border-bottom-color: #666666;
}

.mainMenuRow {
	background-color:#FFFFFF;
	height:20px;
}

.mainMenuRow table{
	height:20px;
	font-size:14px;
}

.mainMenuRow a {
	color:#000000;
	text-decoration:none
}

#clockContainer {
	position:absolute;
	width:70px;
	height:24px;
	top:248px;
	left:400px;
	color:#000000;
	font-size:20px;
	margin-right:4px;
	text-align:right;
	vertical-align:middle;
	font-weight: bolder;
	visibility: visible;
}

#taskbarMinMax{	
	position:absolute;
	left:470px;
	top:248px;
	width:10px;
	height:24px;
	background-image: url(../images/taskbar_texture.gif);
	background-color:#003399;
	visibility: visible;
	vertical-align:middle;
}

#taskbarMinMaxImg{
	position:absolute;
	left:4px;
	top:8px;
	width:5px;
	height:10px;
	background-image:url(../images/icons/sub-menu-arrow.gif);
	background-repeat:no-repeat;
}

.mainMenuRibbon{
	background-color:#0066FF;
	background-image:url(../images/menu_ribbon.jpg);
	background-position:bottom;
	width:16px;
	background-repeat:no-repeat;
	border: 1px solid #666666;
}

.mainMenuExpand {
	background-image:url(../images/icons/sub-menu-arrow.gif);
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	right:2px;
	width:4px;
	height:20px;
}

.windowTopLeft	{
	background-image:url(../images/window/title_left_edge.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	width:2px;
	height:20px;
}

.windowTopTitle	{
	background-image:url(../images/window/title_texture.gif);
	height:20px;
}

.windowTopRight	{
	background-image:url(../images/window/title_right_edge.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	width:2px;
	height:20px;
}

.windowLeft	{
	background-image:url(../images/window/left_edge.gif);
	width:2px;
	margin-top:1px;
}


.windowContent	{
	background-color:#EFEFEF;
	height:100px;
	text-align:center;
}


.windowRight	{
	background-image:url(../images/window/right_edge.gif);
}

.windowBottomLeft	{
	background-image:url(../images/window/bottom_left_edge.gif);
	width:2px;
	height:2px;
}

.windowBottom {
	background-image:url(../images/window/bottom_edge.gif);
	height:2px;
}

.windowBottomRight	{
	background-image:url(../images/window/bottom_right_edge.gif);
	width:2px;
	height:2px;
}

#msgDlg {
	position:absolute;
	left:120px;
	top:19px;
	width:276px;
	height:133px;
	z-index:3;
	text-align:center;
	visibility: hidden;
}

.Window {
	position:absolute;
	left:0px;
	top:0px;
	width:480px;
	height:248px;
	z-index:5;
	visibility: hidden;
}

.iWindow{
	width:476px;
	height:228px;
}

.WindowMin{
	position:absolute;
	width:20px;
	height:20px;
	top:1px;
	left:418px;
	background-image:url(../images/window/control_box/min.gif);
	background-position:top;
	background-repeat:no-repeat;
}

.WindowMax{
	position:absolute;
	width:18px;
	height:18px;
	top:1px;
	left:438px;
	background-image:url(../images/window/control_box/max.gif);
	background-position:top;
	background-repeat:no-repeat;
}

#systemSound{
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
}

.WindowClose{
	position:absolute;
	width:18px;
	height:18px;
	top:1px;
	left:461px;
	background-image:url(../images/window/control_box/close.gif);
	background-position:top;
	background-repeat:no-repeat;
}

.WindowTitle{
	color:#FFFFFF;
	font-weight:bolder;
}

.WindowControlBox{

}

.WindowIcon {
	width:20px;
	height:20px;
}

.shortcutItem {
	position:absolute;
	z-index:0;
	width:80px;
	height:82px;
	background-position:top;
	background-repeat:no-repeat;
}

.shortcutText {
	position:absolute;
	top:48px;
	height:20px;
	width:100%;
	text-align:center;
	font-size:14px;
	font-weight:bolder;
	color:#FFFFFF;
}

.shortcutTextShadow {
	position:absolute;
	top:49px;
	margin-left:1px;
	height:20px;
	width:100%;
	text-align:center;
	font-size:14px;
	font-weight:bolder;
	color:#000000;
}

.msgBoxOK {
	width:45px;
}
