/* CSS Document */

.start_dark { background-color:#000066;color:#FFFFFF;}
.start_light { background-color:#10377C;color:#FFFFFF;}
.istart_dark { background-color:#D2D2FF;}
.istart_light { background-color:#FFFFFF;}
.time_text {color:#FFFFFF;}