a:link,a:active,a:visited { background-color:transparent; text-decoration:none;}
a:hover		{ background-color:transparent; text-decoration: underline; color : #DD6900; }
a.astart_dark	{color: #ffffff;}
a.astart_light	{color: #ffffff;}
a.aistart_light	{color: #000000;}
a.aistart_dark	{color: #000000;}
.start_dark { background-color:#000066;color:#FFFFFF;font-size: 10px;}
.start_light { background-color:#10377C;color:#FFFFFF;font-size: 10px;}
.istart_dark { background-color:#D2D2FF;font-size: 10px;}
.istart_light { background-color:#FFFFFF;font-size: 10px;}
.time_text {color:#FFFFFF;}
.shutdown_text {color:#FFFFFF;}
.login_small {color:#FFFFFF; font-size:10px;}
.login_med {color:#FFFFFF; font-size:12px;}
.login_title {color:#FFFFFF;font-size: 24px;font-weight: bold;}
.login_shutdown_text {color:#000000;}