#lyBoot {
	position:absolute;
	left:0px;
	top:0px;
	width:480px;
	height:272px;
	z-index:9;
	background-image:url(../../images/boot_screen.jpg);
	background-repeat:no-repeat;
	background-position:center;
	vertical-align: middle;
	text-align:center;
	visibility: visible;
}

#loadingStatus {
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	top:217px;
	height:20px;
	width:263px;
	left:108px;
	position:absolute;
}

#lyLoadIcon1{
	position:absolute;
	width:32px;
	height:32px;
	top:183px;
	left:115px;
	background-image:url(../../images/icons/loading/1-loadingsettings.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon2{
	position:absolute;
	width:32px;
	height:32px;
	top:184px;
	left:158px;
	background-image:url(../../images/icons/loading/2-javascript.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon3{
	position:absolute;
	width:32px;
	height:32px;
	top:184px;
	left:201px;
	background-image:url(../../images/icons/loading/3-appfunctions.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon4{
	position:absolute;
	width:32px;
	height:32px;
	top:183px;
	left:245px;
	background-image:url(../../images/icons/loading/4-1ststagesettings.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon5{
	position:absolute;
	width:32px;
	height:32px;
	top:182px;
	left:288px;
	background-image:url(../../images/icons/loading/5-gui.png);
	z-index:10;
	visibility: hidden;
}

#lyLoadIcon6{
	position:absolute;
	width:32px;
	height:32px;
	top:183px;
	left:331px;
	background-image:url(../../images/icons/loading/6-portalfunctions.png);
	z-index:10;
	visibility: hidden;
}