#lyDesktop {
	width:480px;
	height:272px;
	background-image:url(../../images/wallpapers/kde34.jpg);
}


.shortcutItem {
	position:absolute;
	z-index:0;
	width:80px;
	height:82px;
	background-position:top;
	background-repeat:no-repeat;
}

.shortcutText {
	position:absolute;
	top:48px;
	height:20px;
	width:100%;
	text-align:center;
	font-size:14px;
	font-weight:bolder;
	color:#FFFFFF;
}

.shortcutTextShadow {
	position:absolute;
	top:49px;
	margin-left:1px;
	height:20px;
	width:100%;
	text-align:center;
	font-size:14px;
	font-weight:bolder;
	color:#000000;
}
